[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dependency-injector = {extras = ["yaml"], version = "*"}
github = "*"
flask-bootstrap = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.9"
